 .boxed {
     background-color:white;
    
     }
.boxed :hover
	{
	    background-color:red;
	    font-size: 1.2em;
	}
 .boxed2 { background-color:red;

}
.boxed2 :hover
	{
	    background-color:white;
	   font-size: 1.2em;
	}
 .boxed3 { background-color:blue;
}.boxed3 :hover
	{
	    background-color:yellow;
	    font-size: 1.2em;
	}
 .boxed4 { 
  background-color: yellow;
}.boxed4 :hover
	{
	    background-color:blue;
	    font-size: 1.2em;
	}